<!DOCTYPE html>
<html>
<head>
<title>Add song</title>
</head>
<body>
<h1>Add new song</h1>
<form action='/add_song_s' method="post">
<div>
<label for="song name">Song name</label>
<input id="song name" name="name" type="text">
</div>
<div>
<label for="artist">Artist</label>
<input id="artist" name="artist" type="text">
</div>
<div>
<input type="submit" value="add">
</div>
</form>
</body>
</html>