<!DOCTYPE html>
<html>
<head>
  <title>Songify</title>
</head>
<body>
<h1>Welcome to Songify!</h1>
<form action="/song_list" method="link">
<div>
  <input type="submit" value="Song list">
</div>
</form>
<form action="/add_song" method="link">
<div>
<input type="submit" value="Add new song">
</div>
</form>
<form action="/search_result" method="get">
<div>
  <label for="search-input">Search song by its id</label>
  <input id="search-input" type="integer" name="id">
</div>
<div>
  <input type="submit" value="search">
</div>
</form>
</body>
</html>