<!DOCTYPE html>
<html>
<head>
<title>search result</title>
</head>
<body>
<h1>Search result</h1>
<ul>
<li><p>Name:</p><%= @result[0].name %></li>
<li><p>Artist:</p><%= @result[0].artist %></li>
</ul>
</body>
</html>