<!DOCTYPE html>
<html>
<head>
<title>add song complete</title>
</head>
<body>
<h1>Successfully add new song to the list!</h1>
<ul>
<li>song name: <%= @name %></li>
<li>artist: <%= @artist %></li>
</ul>
<form action="/" method="get">
<div>
<input type="submit" value="back to homepage">
</div>
</form>
</body>
</html>